


.entry {
  margin-right: 100px;
  float:right;
  font-family: "Muli", serif;
}

.logo {
  height: 95%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Muli", serif;
  font-size: 16px;
}

.logo2 {
  padding: 0;
  padding-left: 80px;
  margin-top: 5px;
}

.back {
   background-image: url("../KivaPhotos/KivaPhotos/mmfiwbhx1by-ron-hansen.jpg");
   background-size: cover;
   background-position: center;
   height: 630px;
  font-family: "Muli", serif;
}

.phone {
  padding-left: 400px;
}

.goals{
  padding-top:25px;
  font-size: 50px;
  font-family: "Muli", serif;
  color: #64A544;
  font-weight: bold;
}

.advantages {
  padding-top:25px;
  padding-bottom:none;
 width: 100%;
 height: 100px;
  background-color: white;
  font-size: 50px;
  text-align: center;
  color: #64A544;
  font-weight: bold;
  font-family: "Muli", serif;
}

.footcont {
  margin:auto;
  padding-top: 0;
}

.startTitle_help{
padding-bottom: 20px;
}

.start_category{
  font-size: 50px;
  text-align: center;
  color: #64A544;
  font-weight: bold;
  font-family: "Muli", serif;
}

.people{
  font-size: 20px;
  font-family: "Muli", serif;
  margin-left:100px;
  margin-right:100px;
}

.navbarMargin{
  margin:0;
  font-family: "Muli", serif;
}

.greenbox {
  height:800px;
  width:1274px;
  background-color: white;
  display: inline-block;
}

.button {
  padding: 15px;
  font-family: "Muli", serif;
}

.help {
  text-align: center;
  height: 200px;
  width: 100%;
  font-family: "Muli", serif;
}

.contmargin {
  margin-top:0;
  font-family: "Muli", serif;
}

.carpic {
  margin:auto;
  font-family: "Muli", serif;
}

.iphone{
  text-align:right;
  display: inline-block;
}


@media only screen and (min-width: 315px) {
  .titlehead {
    margin: 0;
    padding-top: 400px;
    padding-right: 150px;
    color: white;
    font-size: 48px;
    padding-left: 30px;
  }

  .help {
    text-align: center;
    font-size: 14px;
  }

  .address {
    margin: 0;
    padding-top: 450px;
    padding-left: 30px;
  }

  .people {
    font-size: 14px;
  }

  .goals {
    font-size: 30px;
  }

  .light_green_header_help {
    font-size: 30px;
    text-align: center;
    color: #64A544;
    font-weight: bold;
    font-family: "Muli", serif;
  }

  .goalswhite{
    background-color:white;
    padding-bottom: 30px;
  }

  ._text_help {
    font-size: 14px;
    color: black;
    text-align: center;
    font-family: "Muli", serif;
  }

  .advantages{
    font-size: 30px;
  }

  .start_category{
    font-size: 30px;
  }
}

@media only screen and (min-width: 375px) {
  .titlehead {
  margin:0;
  padding-left: 55px;
  padding-top: 400px;
  color:white;
  }

  .help {
    text-align: center;
    font-size: 20px;
    padding:0;
    margin:0;
  }

  .people {
    font-size: 16px;
}

  .goals {
    font-size: 35px;
  }

  .light_green_header_help {
    font-size: 30px;
    text-align: center;
    color: #64A544;
    font-weight: bold;
    font-family: "Muli", serif;
  }

  .light_green_text_help {
    font-size: 14px;
    color: black;
    text-align: center;
    font-family: "Muli", serif;
  }

  .pick_category {
    font-size: 25px;
    color: black;
    text-align: center;
    font-family: "Muli", serif;
  }

}


@media only screen and (min-width: 414px) {
  .titlehead {
  margin:0;
  padding-left: 70px;
  padding-top: 400px;
  color:white;
  }

  .help {
    text-align: center;
    font-size: 22px;
    padding:0;
    margin:0;
  }

  .people {
    font-size: 18px;
  }

  .goals {
    font-size: 40px;
  }

  .light_green_header_help {
    font-size: 35px;
    text-align: center;
    color: #64A544;
    font-weight: bold;
    font-family: "Muli", serif;
  }

  .light_green_text_help {
    font-size: 18px;
    color: black;
    text-align: center;
    font-family: "Muli", serif;
  }

  .pick_category {
    font-size: 15px;
    color: black;
    text-align: center;
    font-family: "Muli", serif;
  }
}

@media only screen and (min-width: 768px) {
  .titlehead {
  margin:0;
  padding-left: 250px;
  padding-top: 400px;
  color:white;
  }

  .help {
    text-align: center;
    font-size: 24px;
    padding:0;
    margin:0;
  }

  .people {
    font-size: 20px;
  }

  .goals {
    font-size: 45px;
  }

  .light_green_header_help {
    font-size: 40px;
    text-align: center;
    color: #64A544;
    font-weight: bold;
    font-family: "Muli", serif;
  }

  .light_green_text_help {
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: "Muli", serif;
  }

  .pick_category {
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: "Muli", serif;
  }
}

@media only screen and (min-width: 1024px) {
  .titlehead {
  margin:0;
  padding-left: 300px;
  padding-top: 400px;
  color:white;
  font-size: 65px;
  }

  .light_green_header_help {
    font-size: 50px;
    text-align: center;
    color: #64A544;
    font-weight: bold;
    font-family: "Muli", serif;
  }

  .light_green_text_help {
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: "Muli", serif;
  }

  .pick_category {
    font-size: 25px;
    color: black;
    text-align: center;
    font-family: "Muli", serif;
  }

  .help {
    text-align: center;
    font-size: 30px;
    margin:0;
  }

  .people {
    font-size: 22px;
  }

  .goals {
    font-size: 50px;
  }
}

.carousel-inner img {
  margin: auto;
}

.panel-footer {
  margin-left:520px;
}

.goal {
    padding-bottom:10px;
    text-align: center;
    width: 100%;
    float:none;
    color:white;
    margin:0;
  }

  .adv-back {
    height:607px;
    background-color: white;
    display: inline-block;
    margin-left:30px;
    margin-right:30px;
  }

  .advPos {
    padding-top: 60px;
  }

  .center {
    text-align: center;
  }

  .infomargin {
    margin-top: 0px;
    margin-bottom: 50px;
  }



  /*Advantages CSS*/

.advantage{
  background-color:white;
}

.light_green{
  background-color: #CDDFC4;
  margin-top:50px;
  }

.header{
  text-align: center;
}

.text{
  text-align: center;
}

.btn{
  background-color: #64A544;
  height: 50px;
  width: 150px;
  font-size: 20px;
}

.advantagebtn {
  margin-left: 300px;
  padding: 15px;
}

.emailenter{
 width: 200px;
}

/*hover effect*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #42b078;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: inline;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.start {
  background-color: white;
  width:100%;
  height: 400px;
}

.footer {
  bottom: 0;
  padding-top: 50px;
  width: 100%;
  height: 150px;
  background-color: #111;
  text-align: center;
}

.starTitle {
  color: black;
}
.subtitle {
  color: grey;
}

.container_white{
  background-color:white;
  padding-top: 0px;
}

.container{
  padding-top: 55px;
  padding-bottom: 15px;
  color: #fff;
  width: 100%;
}

.dearkiva {
  width: 350px;
  margin: auto;
  padding: 10px;
}

.name {
  width: 250px;
}
/*contact form*/
.body {
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: black;
  background-color: #CFE3C7;
  text-align: center;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.send {
  margin-left: 410px;
  padding-left: 20px;
  vertical-align: center;
}
.formtext {
  margin: 0 auto;
  font-size: 24px;
  font-family: "Muli";
  color:black;
}
.formpad {
  margin-left: 50px;
}
.cell {
  width: 265px;
}
label {
  font-weight: 400;
  cursor: pointer;
  width: auto;
}

textarea,
input {
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  font-weight: 700;
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  max-width: 90%;
  padding: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: text;
}

textarea {
  text-align: left;
  /* overflow:hidden; */

  resize: none;
  width: 90%;
  border-color: rgba(255, 255, 255, 0)
}

textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(255, 255, 255, 1);
}

textarea:focus:required:valid {
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

textarea:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:required,
textarea:required {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:focus {
  border-bottom: 2px dashed rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
}

input:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input:required:invalid {
  color: rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */

  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */

  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-ms-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

.expanding {
  vertical-align: top;
}

.send-icn {
  fill: rgba(255, 255, 255, 1)
}

.send-icn:hover {
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
}
.reducepad {
  padding-top: 0;
}
button {
  background: none;
  border: none;
  outline: none;
  margin: 2vmax;
  padding-left: 95px;
}

button:hover small {
  opacity: 1;
}

small {
  display: block;
  opacity: 0;
}

.website {
  opacity: 1;
  font-size: 16px;
  color: white;
  position: relative;
  text-align: center;
  display: block;
  margin-top: 7%;

}

.website a {
  color: white;
}

/*footer*/

.fa-twitter {
    color: #D8D8D8;
}

.fa-facebook {
    color: #D8D8D8;
}

.fa-youtube-play {
    color: #D8D8D8;
}

.fa-rss {
    color: #D8D8D8;
}

.fa-vine {
    color: #D8D8D8;
}

.fa-flickr {
    color: #D8D8D8;
}

.fa-twitch {
    color: #D8D8D8;
}

.fa-linkedin {
    color: #D8D8D8;
}

.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
  }
