
.entry {
  margin-right: 100px;
  float:right;
}
.logo {
  height: 95%;
}
.logo2 {
  padding: 0;
  padding-left: 50px;
}
.back {
   background-image: url("../KivaPhotos/KivaPhotos/mmfiwbhx1by-ron-hansen.jpg");
   background-size: cover;
   background-position: center;
   height: 630px;
}
.navbarMargin{
  margin:0;
}

.button {
  padding: 15px;
}
.help {
  text-align: center;
}
@media only screen and (min-width: 315px) {
  .title {
  margin:0;
  padding-left: 20px;
  padding-top: 400px;
  color:white;
  }
  .help {
    text-align: center;
    font-size: 14px;
  }
}

@media only screen and (min-width: 375px) {
  .title {
  margin:0;
  padding-left: 55px;
  padding-top: 400px;
  color:white;
  }
  .help {
    text-align: center;
    font-size: 14px;
    padding:0;
    margin:0;
  }
}
@media only screen and (min-width: 414px) {
  .title {
  margin:0;
  padding-left: 70px;
  padding-top: 400px;
  color:white;
  }
  .help {
    text-align: center;
    font-size: 18px;
    padding:0;
    margin:0;
  }
}

@media only screen and (min-width: 768px) {
  .title {
  margin:0;
  padding-left: 180px;
  padding-top: 400px;
  color:white;
  }
  .help {
    text-align: center;
    font-size: 24px;
    padding:0;
    margin:0;
  }
}

@media only screen and (min-width: 1024px) {
  .title {
  margin:0;
  padding-left: 428px;
  padding-top: 400px;
  color:white;
  }
  .help {
    text-align: center;
    font-size: 30px;
    margin:0;
  }
}
.carousel-inner img {
  margin: auto;
}
.panel-footer {
  margin-left:520px;
}

.goal {
    padding-bottom:10px;
    text-align: center;
    width: 100%;
    float:none;
    color:white;
    margin:0;
  }

  .adv-back {
    width:100%;
    height:607px;
    background-color: #63A541;
  }

  .advPos {
    padding-top: 60px;
  }

  .center {
    text-align: center;
  }

  /*Advantages CSS*/

.light_green{
  background-color: #CDDFC4;
}

.light_green_header{
  text-align: center;
}

.light_green_text{
  text-align: center;
}

.btn{
  background-color: #64A544;
}

.advantagebtn {
  margin-left: 300px;
  padding: 15px;
}

.emailenter{
 width: 100px;
}
